<div class="splash-page-background">
  <div class="text-center splash-page">
    <h1 class="main-headline">TripTrack</h1>
    <div class="buttons">
      <li class="secondary button"><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li class="secondary button"><%= link_to 'Sign In', new_user_session_path %></li>
    </div>
  </div>
</div>
