/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require splash_page
 *= require show_page
 */
body {
   background-color: #018000;
   /* display: inline-block; */
 }

.flash-notice {
  margin-top: 2rem;
  display: inline-flex;
  margin-right: 5rem;
  padding: 1rem;
  margin-left: 1rem;
  background-color: black;
  color: #018000;
  opacity: 0;
}

.welcome-user {
  border-radius: .25rem;
  border: .1rem;
  border-style: solid;
  border-color: black;
  background-color: #0B455A;
  padding: 1rem;
  display: inline-block;
  position: fixed;
  color: white;
  bottom: 5;
  right: 5;
  top: .5;
  left: 0;
  margin-left: 1rem;
  -webkit-animation: fadeOut 3s linear forwards;
  animation: fadeOut 3s linear forwards;
  opacity: 0;
}

.sign_up {
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  margin-left: 10rem;
  color: white;
  vertical-align: bottom;
}

.sign_up a{
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  margin-left: 10rem;
  color: white;
  margin-top: 1rem;
}

#actions {
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  margin-left: 10rem;
  color: green;
}

.new_user{
  margin: 10rem 4rem;
  font-family: 'Rubik', sans-serif;
}

.new_user label{
  color: white;
}


.sign-out{
  background-color: green;
}

.top-bar-section ul li > a.button {
  font-size: 0.8125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background-color: #107F12;
  border-color: #007095;
  color: #FFFFFF;
}

.top-bar-section ul li {
  background: 0;
  float: right;
}

.spinner {
  display: inline-block;
}

.log-in {
  background-color: #107F12;
}

#nav-button {
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
  border-left: 8rem;
}

#signout-button {
  color: black;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-left: 0rem;
}

#nav-button:hover{
	box-shadow: inset 0 0 0 3px #3a7999;
}
#signout-button:hover{
	box-shadow: inset 0 0 0 3px #3a7999;
}

.button-resizing { margin: 0 7px; }

.chart-button {
  display: inline-block;
}
