.train-line-form {
  display: inline-block;
  margin-top: 6rem;
}

.commute-chooser {
  margin-top: 1rem;
}

.train-line-form h1 {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  margin-top: 6rem;
}

.left{
  text-align: left;
}

#your-commutes{
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  margin-bottom: .1rem;
  margin-top: 6rem;
}

#prediction-list {
  margin-left: 2rem;
}

.commute-form {
  margin: 4rem 10rem 0rem 10rem;
  background-color: white;
}

.journeyTile h3 {
  font-family: 'Rubik', sans-serif;
  color: green;
  font-size: 1rem;
}
.journeyTile h1 {
  font-family: 'Rubik', sans-serif;
  color: black;
  font-size: 1rem;
}

.field-name {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  text-align: left;
}

.predictions {
  margin: .25rem;
  font-family: 'Rubik', sans-serif;
  max-width: 800px;
  overflow: scroll;
}

.prediction-text {
  font-family: 'Rubik', sans-serif;
  color: green;
  margin-top: 1rem;
}

.predictions-show-master{
  margin-top: 6rem;
}

.divider {
  position: fixed;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid black;
}

.show-divider {
  position: fixed;
  left: 50%;
  top: 10%;
  bottom: 40%;
  border-left: 1px solid black;
}

#journey-show-route{
  padding-top: 8rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

span {
    display: inline-block;
}

.react-nav-bar{
    background-color: green;
    margin-bottom: 0rem;
    margin-left: 0rem;
    padding-bottom: 0rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 5rem;
}

.top-bar-section{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.home-button{
  display: inline-flex;
  margin: 1rem 1rem 1rem 1rem;
  float: left;
}

#back-button{
  display: inline-flex;
  float: left;
  margin: 1rem 7rem 1rem 0rem;
}

.main-header{
  color: white;
  float: right;
  font-family: 'Rubik', sans-serif;
  margin: 1rem 2rem 0rem 0rem;
  border-right: 4rem;
  display: inline-block;
}

#headline{
  margin-top: 1rem;
}

#home-nav-bar {
  margin-bottom: 4rem;
}

.note-tile{
  display: inline-block;
  align-items: center;
  margin: 4rem;
  border: .5rem;
  border-style: solid;
  // border-color: #008000;
  background-color: #C7CAD1;
  text-align: center;
  padding: 0rem 0rem;
}
.note-tile img{
  width: 60%;
  padding: .5rem;
}

.note-text p{
  text-align: left;
}
.note-text h5{
  font-size: 2rem;
  text-align: left;
}

.note-user-name {
  font-size: 2rem;
  text-align: left;
  padding: 0rem;
  margin: 0rem;
  background-color: white;
}

.trip-notes{
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.drop {
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.dropped-files{
  font-size: .8rem;
}

.note-text{
    display: inline-block;
    margin: 0rem;
    font-size: 1rem;
}

.prediction-tile-master{
  background-color: black;
  margin: 1rem 0rem;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 1rem;
}

.commute-tile{
  background-color: black;
  margin: 1rem 0rem;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 1rem;
  display: inline-flex;
}


.commute-tile h2{
  padding: 0rem;
  margin: 0rem;
  text-align: left;
  margin: 0rem;
  font-size: 2rem;
  padding-right: 1rem;
  display: inline-block;
}

.commute-tile h5{
  text-align: left;
  margin: 0rem;
  font-size: 1rem;
  padding: 0rem 1rem;
  display: inline-block;
}

.commute-tile a{
  text-decoration: none;
  text-align: left;
}

.delete-button {
  color: yellow;
  display: inline-block;
  padding: 0rem 2rem 0rem 2rem;
  border: 1rem;
}

#prediction-tile-subheader{
  margin: auto;
  padding: .5rem 0rem;
  font-size: 4rem;
  font-weight: 400;
}

.master-form-button  {
  margin: 2rem 0rem;
}


#duration-prediction-tile{
  font-size: 5.25rem;
  margin: 0rem;
  // padding: 0rem;
  display: inline-block;
  font-weight: bold;
}

.far .fa-times-circle {
  float: right;
  opacity: 60%;
  display: inline-block;
}

.chart-button {
  display: inline-block;
  align-items: center;
  margin: 1rem 14rem;
}

.log-in-field{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.thumbnail {
  max-width: 100%;
}
