


// .splash-background {
//   background-color: #018000;
//   padding: 4rem 0rem;
//   height: auto;
// }
//
// .splash-page h1{
//   text-align: center;
//   display: inline-flex;
//   margin: 2rem 0rem;
//   font-family: 'Rubik', sans-serif;
//   font-size: 10rem;
//   color: white;
//   padding: 0rem 1rem;
// }

.splash-page {
  padding: 0rem 1rem;
  text-align: center;
  display: inline-flex;
  margin: 2rem 2rem;
  font-family: 'Rubik', sans-serif;
  font-size: 10rem;
  color: white;
  background-color: black;
  border: 1rem;
  border-style: solid;
}


.buttons {
  // display: inline-block;
  // text-align: center;
  padding: auto;
  // height: auto;
  // margin-bottom: 8rem;
  margin: 0rem 0rem;
}

.buttons li{
  // display: inline-block;
  border-radius: .5rem;
  margin: 0rem 1rem;
  // align-items: center;
  // right: 3rem;
}

#button-font a {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  color: black;
}

.footer {
  padding: 3rem 0rem 0rem 0rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}

.footer h3{
  color: black;
  display: inline-block;
  float: right;
  font-family: 'IBM Plex Sans', sans-serif;
}

.mbta-img{
  float: right;
  width: 20%;
  height: auto;
  display: inline-block;
}

.log-in-row {
  margin-bottom: 10rem;
}

// @media only screen and (max-width: 320px) {
//    body { font-size: 2em; }
// }
